#Blog h3, h4{
    text-align: center;
}

#Blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#Blog article {
    margin: 15px;
}

#Blog img{
    display: inline-block;
    width: 200px;
    max-width: 250px;
}

#Blog li{
    text-align: left;
}